main {
    margin-top: 15%;
}

h1 {
    margin-top: 25px;
    margin-bottom: 80px;
}

h2 {
    font-size: 13em;
    font-style: italic;
}

ul {
    margin-top: 20px;
}

#stack {
    border: 1px solid rgb(0, 255, 255);
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#stack h1 {
    font-size: 15em;
}

#stack ul {
    width: 90%;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#stack img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
    background-color: white;
    object-fit: contain;
}

#stack div {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

#projects {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#projects h1 {
    font-size: 15em;
    margin-top: 135px;
}

#projects section div {
    text-align: center;
    margin-top: 20px;
}

#projects a {
    font-size: 15em;
}

#projects p {
    font-size: 10em;
}

#projects img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

#projects hr {
    width: 90%;
    height: 1px;
    background-color: rgb(0, 255, 255);
    border: 0;
    margin: 60px 0px 60px 0px;
}

@media screen and (min-width: 425px) {
    h2 {
        font-size: 16em;
    }
    
    #stack img {
        width: 60px;
        height: 60px;
    }

    #projects p {
        font-size: 11em;
        line-height: 2em;
        word-spacing: 4px;
    }

    #projects img {
        margin-bottom: 65px;
        height: 170px; 
    }

    #projects a {
        font-size: 20em;
    }

    #projects hr {
        margin: 100px 0px 100px 0px;
    }

    .project-fade {
        animation-name: project-fade;
        animation-duration: 0.7s;
    }

    @keyframes project-fade {
        0% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        margin-top: 35px;
    }
    
    #stack div {
        margin-bottom: 90px;
    }

    #stack #web {
        width: 90%;
    }

    #stack .tools {
        width: 60%;
    }
    
    #stack img {
        width: 65px;
        height: 65px;
    }

    #projects p {
        font-size: 13em;
    }

    #projects hr {
        margin: 150px 0px 150px 0px;
    }

    #projects img {
        height: 270px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        margin-bottom: 45px;
    }

    #stack img {
        width: 70px;
        height: 70px;
    }

    #stack #web {
        width: 80%;
    }

    #stack .os {
        width: 70%;
    }

    #projects img {
        height: 290px;
    }
}

@media screen and (min-width: 1200px) {

    #projects img {
        height: 340px;
    }

}

@media screen and (min-width: 1440px) {

    #stack {
        width: 80%;
    }

    #stack .tools {
        width: 50%;
    }

    #projects {
        width: 80%;
    }

    #projects section div {
        margin-top: 50px;
    }

    #projects a {
        font-size: 22em;
    }

    #projects img {
        height: 550px;
    }
}