* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    color: rgb(220, 228, 255);
    background-color: #222;
}
 
img {
    width: 330px;
    border-radius: 50%;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
}

header > * {
    padding-top: 7%;
}

main {
    margin-top : 55%;
}

main section {
    margin-bottom : 20%;
}

h1 {
    font-size: 80px;
    margin-top: 22%;
}

h2 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 20%;
}

h3 {
    font-size: 20px;
    margin-left: 1.5%;
}

p {
    padding: 5%;
    font-size: 13px;
    line-height: 60px;
}

#toggle-parent {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.fa-bars {
    font-size: 30em;
}

#toggle {
    display: flex;
    width: 120px;
    height: 60px;
    border-radius: 160px;
    background-color: black;
}