<h2 class="fade-in content">Mon parcours</h2>
<div class="fade-in content">
    <article>
        <img src="images/timeline.png" alt="timeline">
    </article>
    <article>
        <section>
            <h3>Ecole 42 Paris</h3>
            <p>Mon arrivée à l'école 42 marque mon entrée dans le monde de la programmation. j'ai pu y étudier les
                langages C, C# (Unity3D) et PHP au travers de nombreux projets qui m'ont permis d'évoluer dans ma
                compréhension et l'apprentissage du code en général.
            </p>
        </section>
        <section>
            <h3>Technocentre Guyancourt</h3>
            <p>J'ai par la suite été vendeur polyvalent au sein du Technocentre Renault de Guyancourt où j'ai été amené
                à remplir les fonctions de préparateur froid, chaud, tenue de caisse, ouverture, mise en place et
                fermeture magasin ( PAUL / BERT'S), réception de marchandise et cuisson four. Cette expérience m'a
                permis d'apprendre à être d'une grande flexibilité au travers des nombreux postes que j'ai pu occuper
                ainsi que d’accroître mes capacités à la bonne gestion des responsabilités qui m'étaient confiés.
            </p>
        </section>
        <section>
            <h3>3WAcademy</h3>
            <p>Décidé à devenir développeur Web, j'ai suivi une formation auprès de la 3WAcademy sur les langages de
                programmation HTML, CSS, Javascript, PHP, SQL, avec examen final et réalisation d'un projet web complet
                afin de valider mon diplôme RNCP de niveau 3.</p>
        </section>
        <section>
            <h3>Axonostudio</h3>
            <p>Ma première expérience professionnelle dans le monde du web riche d’apprentissage, autant dans la
                relation client que dans les aspects techniques du développement. Seul en tant que chef de projet,
                intégrateur, développeur en mission chez Axonostudio en charge de la conception et la réalisation d’une
                solution web à destination de clients dans le domaine de l’automobile.

            </p>
        </section>
    </article>
</div>