<article id="stack" class="content">
    <h1>Ma stack</h1>
    <div id="web">
        <h2>Web :</h2>
        <ul>
            <li><img src="images/html5.png" /></li>
            <li><img src="images/css3.jpg" /></li>
            <li><img src="images/js.png" /></li>
            <li><img src="images/jquery.png" /></li>
            <li><img src="images/php.svg" /></li>
            <li><img src="images/symfony.png" /></li>
            <li><img src="images/mysql.png" /></li>
            <li><img src="images/twig.png" /></li>
            <li><img src="images/bootstrap.png" /></li>
        </ul>
    </div>
    <div class="tools">
        <h2>gestion  et autres :</h2>
        <ul>
            <li><img src="images/github.png" /></li>
            <li><img src="images/git.png" /></li>
            <li><img src="images/shell.jpg" /></li>
            <li><img src="images/unity.png" /></li>
        </ul>
    </div>
    <div class="os">
        <h2>Serveur et OS :</h2>
        <ul>
            <li><img src="images/wamp.png" /></li>
            <li><img src="images/phpmyadmin.png" /></li>
            <li><img src="images/apache.png" /></li>
            <li><img src="images/windows10.jpg"></li>
            <li><img src="images/osx.jpg" /></li>
        </ul>
    </div>
</article>
<article class="content" id="projects">
    <h1>Mes projets</h1>
    <section>
        <h2>Ready-arena</h2>
        <img src="images/Ready-A-L1.png" alt="caroussel d'images du projet Ready-Arena" class="caroussel">
        <img src="images/Ready-A-L1.png" alt="screenshot de la homepage du site Ready-arena">
        <img src="images/Ready-A-L2.png" alt="screenshot de la page de ranking du site Ready-arena">
        <img src="images/Ready-A-L3.png" alt="screenshot de la page de selection du site Ready-arena">
        <img src="images/Ready-A-L4.png" alt="screenshot d'une page de tournois du site Ready-arena">
        <p>Ready-Arena est mon projet de fin d'étude auprès de la 3WA qui m'a permit de décrocher mon diplôme RNCP. Il s'agit d'une plateforme de création de tournois et d'équipes sur différents jeux en ligne. On y retrouve bien entendu la création de compte, l'ajout d'amis, et de création de familles pour les structures regroupant plusieurs équipes</p>
    </section>
    <hr>
    <section>
        <h2>Axonostudio</h2>
        <img src="images/axono_L1.png" alt="caroussel d'images du projet pour Axonostudio" class="caroussel">
        <img src="images/axono_L1.png" alt="screenshot de la page de connexion">
        <img src="images/axono_L2.png" alt="screenshot d'une fiche produit">
        <p>Missionné auprès de l'entreprise Axonostudio afin de réaliser une plateforme de création de fiches produits. Ces produits se retrouvent par la suite mis en page et peuvent regrouper titres, descriptifs, modèle 3D, vidéos, images... le tout dans une présentation simple et élégante. Il m'a également été demandé d'implémenter une interface admin et utilisateurs. Une première expérience professionnelle dans le monde du web riche d’apprentissage, autant dans la relation client que dans les aspects techniques du développement</p>
    </section>
    <hr>
    <section>
        <h2>Shiny-Market</h2>
        <img src="images/symfony-learnning-L1.png" alt="caroussel d'images du projet Shiny-Market" class="caroussel">
        <img src="images/symfony-learnning-L1.png" alt="screenshot de la homepage">
        <img src="images/symfony-learnning-L2.png" alt="screenshot d'une fiche produit">
        <img src="images/symfony-learnning-L3.png" alt="screenshot d'un panier de commandes">
        <p>J'ai par la suite décidé d'approfondir mon apprentissage de PHP au travers d'un nouveau framework. Shiny-Market est donc le fruit de mon apprentissage sur le framework Symfony par le biais de la formation délivré par Lior Chamla. Il s'agit d'un simple site E-commerce allant de la navigation des différents produits par catégorie à la confirmation de son panier et paiement de sa commande.</p>
    </section>
</article>