<article id="stack" class="content">
    <h1>Ma stack</h1>
    <div id="web">
        <h2>Web :</h2>
        <ul>
            <li><img src="images/html5.png" /></li>
            <li><img src="images/css3.jpg" /></li>
            <li><img src="images/js.png" /></li>
            <li><img src="images/jquery.png" /></li>
            <li><img src="images/php.svg" /></li>
            <li><img src="images/symfony.png" /></li>
            <li><img src="images/mysql.png" /></li>
            <li><img src="images/twig.png" /></li>
            <li><img src="images/bootstrap.png" /></li>
        </ul>
    </div>
    <div class="tools">
        <h2>gestion  et autres :</h2>
        <ul>
            <li><img src="images/github.png" /></li>
            <li><img src="images/git.png" /></li>
            <li><img src="images/shell.jpg" /></li>
            <li><img src="images/unity.png" /></li>
        </ul>
    </div>
    <div class="os">
        <h2>Serveur et OS :</h2>
        <ul>
            <li><img src="images/wamp.png" /></li>
            <li><img src="images/phpmyadmin.png" /></li>
            <li><img src="images/apache.png" /></li>
            <li><img src="images/windows10.jpg"></li>
            <li><img src="images/osx.jpg" /></li>
        </ul>
    </div>
</article>
<article class="content" id="projects">
    <h1>Mes projets</h1>
    <section>
        <h2>Ready-arena</h2>
    </section>
    <section>
        <h2>Axonostudio</h2>
    </section>
    <section>
        <h2>Symfony5 learning</h2>
    </section>
</article>